main {
    width: 960px;
    margin: 0 auto;
}
.nav-bottom {
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.nav-bottom button {
    padding: 10px;
    margin: 5px;
}
.main-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    max-width: 960px;
}
.content-left {
    margin-right: 15px;
}
.buttons{
    display: flex;
    justify-content: center;
}
.btn-secondary {
    margin: 5px;
    max-height: 35px;
}
.content-righ {
    display: flex;
    justify-content: center;
}
.nav-bottom .btn-primary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.content-info {
    margin-top: 25px;
    border: 1.5px solid black;
    border-radius: 8px;
    background: #fff;
    padding: 7px;
}
