@import "../../../assets/_variables.scss";

.button {
  font-size: 15px;
  background-color: $base-color;
  border: 1px solid $base-color;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 3px 20px;
  font-family: $font-family;
  font-weight: 700;
  color: $text-color;
  outline: none;

  &:hover,
  &:focus {
    background-color: $button-bg-hover;
    border: 1px solid $button-bg-hover;
  }
}
