@import "../../assets/_variables.scss";

.navigation {
  .navigation__wrapper {
    .navigation__link {
      margin-right: 25px;
      cursor: pointer;
      font-weight: bold;
      color: $text-color;

      &:hover,
      &.selected {
        color: $base-color;
        text-decoration: none;
      }
    }
  }

  .navigation__switcher-theme {
    margin-left: 13px;
    cursor: pointer;
  }

  &__btn {
    margin-left: 10px;
  }
}

.dark {
  .navigation {
    .navigation__wrapper {
      .navigation__link {
        color: $text-color-dark;

        &:hover,
        &.selected {
          color: $base-color;
          text-decoration: none;
        }
      }
    }
  }
}
