.input {
  border: 1px solid #eaeaea;
  width: 100%;
  border-radius: 3px;
  height: 40px;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05);
  transition: border-color 0.25s ease-in-out;
  padding: 0 12px;

  &:focus {
    border-color: #cdcdcd;
  }
}
