.popup__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.25);

  .popup__content {
    position: relative;
    width: 440px;
    background-color: #fff;
    border-radius: 5px;
    padding: 32px;
    animation: popup 0.25s ease-in-out;
    box-shadow: 0 3.8px 2.2px rgba(0, 0, 0, 0.028), 0 9.2px 5.3px rgba(0, 0, 0, 0.04), 0 17.3px 10px rgba(0, 0, 0, 0.05), 0 30.8px 17.9px rgba(0, 0, 0, 0.06), 0 57.7px 33.4px rgba(0, 0, 0, 0.072), 0 138px 80px rgba(0, 0, 0, 0.1);

    &-logo {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  .popup__close-icon {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 30px;
    color: #b5b3b3;
  }
}
