@font-face {
  font-family: Proxima;
  src: url(./Proxima.ttf);
}

$font-family: Proxima, sans-serif;
$base-color: #ffb943;
$border: #E8E9EB;
$border-dark: #0c0c0c;

$header-bg: #fff;
$header-bg-dark: #1e1f24;

$logo-font-size: 34px;

$text-color: #06111d;
$text-color-dark: #fff;

$button-bg: #ffaf29;
$button-bg-hover: rgba(255, 185, 67, 0.7);
