@font-face {
  font-family: Proxima;
  src: url(./assets/Proxima.ttf);
}

.app-container {
  width: 100%;
  font-family: Proxima, sans-serif !important;
  background: #f3f6f9;
  height: 100vh;

  &.dark {
    background: #101216;
  }
}
