@import "../../assets/_variables.scss";

.header__container {
  height: 145px;
  width: 100%;
  background-color: $header-bg;

  .header__content__container-logo {
    height: 90px;
  }

  .header__content__container-navbar {
    height: 55px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }
}

.dark {
  .header__container {
    background-color: $header-bg-dark;
    color: #fff;
  }

  .header__content__container-navbar {
    border-top: 1px solid $border-dark;
    border-bottom: 1px solid $border-dark;
  }
}
