.auth {
  &__header {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
  }

  &__body {
    &-field {
      margin-bottom: 20px;

      &-title {
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}
